<!-- <input type="file" (change)="onFileChanged($event)">
<p>{{enc}}</p>
<button (click)="onDownload()" *ngIf="download">Download</button>

<input type="file" (change)="decryptingFile($event)"> -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Upload file to be encrypted</h4>
      <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm, true)" >
        <div class="form-group">
          <label for="firstKey">First Key</label>
          <input type="text"name="firstKey" class="form-control" id="firstKey" placeholder="First Key" ngModel required  />
        </div>
        <div class="form-group">
          <label for="secondKey">Second Key</label>
          <input type="text" name="secondKey" class="form-control" id="secondKey" placeholder="Second Key" ngModel required />
          <small>To enhance the strength of the encryption, this key can be comprised of multiple keys separated by commas. This allows for a more complex and robust encryption scheme that is harder to crack.</small>
        </div>
        <div class="form-group">
          <label for="file">File upload:</label>
          <input type="file" class="form-control-file" id="file" name="file" (change)="onFileChanged($event, true)">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <button (click)="onDownload()" *ngIf="download" class="btn btn-primary">Download</button>
    </div>
    <div class="col-md-6">
      <h4>Upload file to be decrypted</h4>
      <form #myFormDec="ngForm" (ngSubmit)="onSubmit(myFormDec, false)" >
        <div class="form-group">
          <label for="firstKeyDec">First Key</label>
          <input type="text"name="firstKeyDec" class="form-control" id="firstKeyDec" placeholder="First Key" ngModel required  />
        </div>
        <div class="form-group">
          <label for="secondKeyDec">Second Key</label>
          <input type="text" name="secondKeyDec" class="form-control" id="secondKeyDec" placeholder="Second Key" ngModel required />
          <small>In order to decrypt the encrypted message, the key must be entered correctly. If the key is comprised of multiple keys, each key must be entered in the same order and separated by commas as it was when the message was encrypted. This will allow the decryption algorithm to access and use each component of the key to decrypt the message successfully.</small>
        </div>
        <div class="form-group">
          <label for="file">File upload:</label>
          <input type="file" class="form-control-file" id="file" name="file" (change)="onFileChanged($event, false)">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <button (click)="downloadAfterDecrypting()" *ngIf="decrypted" class="btn btn-primary">Download</button>
    </div>
  </div>
</div>
