<!-- <input type="file" (change)="onFileChanged($event)">
<p>{{enc}}</p>
<button (click)="onDownload()" *ngIf="download">Download</button>

<input type="file" (change)="decryptingFile($event)"> -->

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Upload file to be encrypted</h4>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="onFileChanged($event)" >
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div><br>
      <button (click)="onDownload()" *ngIf="download" class="btn btn-primary">Download</button>
    </div>
    <div class="col-md-6">
      <h4>Upload file to be decrypted</h4>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="decryptingFile($event)" >
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div><br>
      <button (click)="downloadAfterDecrypting()" *ngIf="decrypted" class="btn btn-primary">Download</button>
    </div>
  </div>
</div>
